Source: mender-monitor
Maintainer: Mender Team <mender@northern.tech>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: mender-monitor
Architecture: all
Depends: bash, lmdb-utils, mender-client (>=2.5.0), ${misc:Depends}
Description: Mender Monitor client
 The monitor client is a Mender add-on which enables the reporting of certain
 device events to the Mender server, such as log, service files and D-Bus
 signals.
 
