language: minimal

dist: trusty

before_script:
    - git clone git://github.com/mendersoftware/mendertesting

script:
    # Check commit compliance.
    - mendertesting/check_commits.sh
    # Check licenses
    - mendertesting/check_license.sh
    # Build docker image
    - docker build --tag=mender-dist-packages .
    # Run docker container
    - mkdir -p output && docker run -v $(pwd)/output:/output --rm mender-dist-packages
