Source: mender-client4
Maintainer: The Mender Team <mender@northern.tech>
Section: admin
Priority: optional
Standards-Version: 4.0.0
Build-Depends-Indep: cmake, debhelper (>= 10)
Build-Depends: liblmdb-dev (>= 0.9.7), libc6-dev (>= 2.14), libboost-dev (>= 1.67.0), libboost-filesystem-dev (>= 1.67.0), libboost-log-dev (>= 1.67.0), libboost-regex-dev (>= 1.67.0), libboost-chrono-dev (>= 1.67.0), libboost-thread-dev (>= 1.67.0), libboost-atomic-dev (>= 1.67.0),  libssl-dev (>= 1.1.1), libarchive-dev (>= 3.2.2), libdbus-1-dev, libsystemd-dev
Homepage: https://mender.io

Package: mender-client4
Conflicts: mender, mender-client
Replaces: mender-client, mender-auth, mender-update, mender-snapshot, mender-setup
Architecture: any
Depends: mender-auth, mender-update, mender-snapshot, mender-setup, mender-flash
Description: Mender client
 Mender is an open source over-the-air (OTA) software updater for embedded Linux devices.

Package: mender-update
Conflicts: mender, mender-client
Architecture: any
Depends: mender-auth, ${shlibs:Depends}, ${misc:Depends}
Recommends: mender-flash, mender-setup
Description: Mender update
 Mender-update is an open source over-the-air (OTA) software updater for embedded Linux devices.

Package: mender-auth
Conflicts: mender, mender-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: mender-setup
Description: Mender auth
 Mender-auth enables centralized authentication against a Mender server.

Package: mender-client4-dev
Architecture: all
Depends: mender-client4 (= ${binary:Version}), ${misc:Depends}
Description: Mender client development files
 Mender is an open source over-the-air (OTA) software updater for embedded Linux devices.
 .
 This package contains the development files:
 * D-Bus API interface files
