#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -D BUILD_TESTS=OFF

override_dh_auto_build:
	make CGO_CFLAGS="${CGO_CFLAGS}" CGO_LDFLAGS="${CGO_LDFLAGS}" CC="${CC}" \
	GOOS=linux CGO_ENABLED=1 build

install_targets_exclude=install-systemd install-modules-gen
install_targets_all=$(shell grep -E '^install\-.*:' Makefile | cut -d: -f1)
install_targets=$(filter-out $(install_targets_exclude),$(install_targets_all))
override_dh_auto_install:
	DESTDIR=debian/mender-client make $(install_targets)

	# Install scripts/version file
	install -d -m 755 debian/mender-client/etc/mender/scripts/
	echo -n "3" > debian/mender-client/etc/mender/scripts/version

	# MEN-6060: Make identity and inventory scripts into conf files so that
	# they can be modified without risking that they get lost on an
	# upgrade. To follow Debian policy, we must then put them in /etc and
	# symlink to them, we can not simply mark them as conffiles:
	# https://www.debian.org/doc/debian-policy/ch-files.html#location
	install -d -m 755 debian/mender-client/etc/mender/identity
	mv debian/mender-client/usr/share/mender/identity/* debian/mender-client/etc/mender/identity/
	for file in debian/mender-client/etc/mender/identity/*; do \
		ln -sf /etc/mender/identity/"$$(basename "$$file")" debian/mender-client/usr/share/mender/identity/; \
	done

	install -d -m 755 debian/mender-client/etc/mender/inventory
	mv debian/mender-client/usr/share/mender/inventory/* debian/mender-client/etc/mender/inventory/
	for file in debian/mender-client/etc/mender/inventory/*; do \
		ln -sf /etc/mender/inventory/"$$(basename "$$file")" debian/mender-client/usr/share/mender/inventory/; \
	done

override_dh_auto_test:
	true

override_dh_strip:
	${CROSS_COMPILE}-strip --remove-section=.comment --remove-section=.note \
	debian/mender-client/usr/bin/mender
