Source: mender-client
Maintainer: Mender Team <mender@northern.tech>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: mender-client
Conflicts: mender
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mender client
 Mender is an open source over-the-air (OTA) software updater for embedded Linux devices.

Package: mender-client-dev
Architecture: all
Depends: mender-client (= ${binary:Version}), ${misc:Depends}
Description: Mender client development files
 Mender is an open source over-the-air (OTA) software updater for embedded Linux devices.
 .
 This package contains the development files:
 * D-Bus API interface files
