#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -D BUILD_TESTS=OFF

override_dh_auto_build:
	make CGO_CFLAGS="${CGO_CFLAGS}" CGO_LDFLAGS="${CGO_LDFLAGS}" CC="${CC}" \
	GOOS=linux CGO_ENABLED=1 build

install_targets_exclude=install-systemd
install_targets_all=$(shell grep -E '^install\-.*:' Makefile | cut -d: -f1)
install_targets=$(filter-out $(install_targets_exclude),$(install_targets_all))
override_dh_auto_install:
	DESTDIR=debian/mender-client make $(install_targets)

	# Install scripts/version file
	install -d -m 755 debian/mender-client/etc/mender/scripts/
	echo -n "3" > debian/mender-client/etc/mender/scripts/version

override_dh_auto_test:
	true

override_dh_strip:
	${CROSS_COMPILE}-strip --remove-section=.comment --remove-section=.note \
	debian/mender-client/usr/bin/mender
