#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	make CGO_CFLAGS="${CGO_CFLAGS}" CGO_LDFLAGS="${CGO_LDFLAGS}" CC=${CC} \
	GOOS=linux CGO_ENABLED=1 build

override_dh_auto_install:
	# All install targets except install-systemd
	DESTDIR=debian/mender-client make install-bin install-identity-scripts install-inventory-scripts install-modules

override_dh_auto_test:
	true

override_dh_strip:
	${CROSS_COMPILE}-strip --remove-section=.comment --remove-section=.note \
	debian/mender-client/usr/bin/mender

override_dh_shlibdeps:
	true
