#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	make CGO_CFLAGS="${CGO_CFLAGS}" CGO_LDFLAGS="${CGO_LDFLAGS}" CC=${CC} \
	GOOS=linux GOARCH=arm GOARM=6 CGO_ENABLED=1 build

override_dh_auto_test:
	true

override_dh_systemd_enable:
	true

override_dh_systemd_start:
	true

override_dh_strip:
	${CROSS_COMPILE}-strip --remove-section=.comment --remove-section=.note \
	debian/mender-client/usr/bin/mender

override_dh_shlibdeps:
	true
