Source: mender-configure
Maintainer: Mender Team <mender@northern.tech>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: mender-configure
Architecture: all
Depends: dbus, curl, mender-client (>=2.5.0)
Description: Mender Configure
 Mender Configure is a Mender add-on which enhances the Mender Client providing an Update
 Module to configure the device
