Source: mender-connect
Maintainer: Mender Team <mender@northern.tech>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: mender-connect
Architecture: any
Depends: mender-client (>3.2.0), ${shlibs:Depends}, ${misc:Depends}
# debian bullseye Depends: mender-client (>= 3.1.99), libc6 (>= 2.3.2), libglib2.0-0 (>= 2.26.0)
# debian buster Depends: mender-client (>= 3.1.99), libc6 (>= 2.3.2), libglib2.0-0 (>= 2.26.0)
Description: Mender Connect
 Mender Connect is a Mender add-on which enhances the Mender Client providing a bidirectional
 communication channel with the server. It supports the following troubleshooting features:
 - Interactive shell terminal sessions
 - File Transfer
 - Port forward
