Source: mender-client
Maintainer: Mender Team <menderall@northern.tech>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: mender-client
Conflicts: mender
Architecture: any
Depends: libc6 (>= 2.12), liblzma5 (>= 5.1)
Description: Mender client
 Mender is an open source over-the-air (OTA) software updater for embedded Linux devices.
