Source: mender-shell
Maintainer: Mender Team <mender@northern.tech>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: mender-shell
Architecture: any
Depends: libc6 (>= 2.12), libglib2.0-0 (>=2.50), mender-client (>=2.4.2~git20201209.d4def09-1)
Description: Mender Shell
 Mender Shell is a Mender add-on allowing to open remote interactive shell terminal sessions.
